
/***************************************/
/************** GALLERY SECTION *****************/
/***************************************/

/* aplicando operaciones*/

$padding: 100px;
$colortitle: rgb(110, 108, 108);
$ancho: 200px;
$fuente: 24px;
$altura: 600px;


.galeria{
    padding: $padding/2;
  
}
.gallery-title{
    color: $colortitle;
    font-size: $fuente + 21px;
    text-align: center;
    margin: -20px;
}

.gallery-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    
    .gallery-img{
        width: $ancho * 2;
        height: $altura - 300px;
    }
}