
/***************************************/
/* INGREDIENTES SECTION*/
/***************************************/

//** aplicando metodologia BEM *///
.ingredientes{
    background-color: #000;
}

.ingredientes__h1{
    font-size: 45px;
    margin-top: 20px;
    color: rgb(80, 151, 80);
    text-align: center;
    line-height: 32px;
}

.ingredientes__h2{
    color: rgb(212, 58, 58);
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

/***********************************************/

.pizza-span{
    color: #fff;
}

.baseTitle, .carneTitle, .vegetalTitle, .quesoTitle{
    padding: 10px;
    font-size: 25px;
}

.bases, .carnes, .vegetales, .quesos{
    display: flex;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
}

//** aplicando metodologia BEM *///

.baseElement, .carneElement, .vegetalElement{
    margin: 5px;
    text-align: center;
}

.baseElement__p, .carneElement__p, .vegetalElement__p{
    font-size: 13px;
    text-align: center;
}

.baseElement__h2, .carneElement__h2, .vegetalElement__h2{
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.baseElement__img, .carneElement__img, .vegetalElement__img, .quesoElement__img{
    width: 200px;
    height: 150px;
}

.quesoElement{
    padding: 20px;
    .quesoElement__p{
        text-align: justify;
        font-size: 13px;
        width: 50%;
    }
    .quesoElement__img{
        padding: 5px;
    }

}

